/* About everything*/
.body {
    font-family: Hack, sans-serif;
    color: white;
    background-color: black;
}

/* Few customisations */
.links {
    color: white;
}
.a-logo-header {
    text-align: center;
    display: block;
    margin-bottom: 25px;
}
.img-logo-header {
    padding-top: 50px;
    max-width: 200px;
}
.h2-home-newBook {
    margin: 50px;
    text-align: center;
}
.h2-home-titles {
    margin: 50px;
    text-align: center;
    text-decoration: underline;
}
.h2-add {
    text-align: center;
    padding: 30px;
}
.ul-add {
    padding-left: 0;
}
.p-footer {
    margin-top: 15vh;
    text-align: center;
}
.block-showBook {
    text-align: center;
}
.block-showBookloud {
    text-align: center;
}
/* All about grids */
.flex-home {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
}
.grid-books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    grid-gap: 1vh;
}
.grid-booklouds {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    grid-gap: 1vh;
}
/* Media queries */
@media screen and (min-width: 600px){
    .block-home-booklouds {
        border-right: white solid 1px;
        padding : 0 25px 0 25px;
    }
    .block-home-books {
        padding : 0 25px 0 25px;
    }
}