{% extends 'base.html.twig' %}

{% block content %}
    <h2>Bookloud : {{ keyword.name }}</h2>
    <ul>
        {% for book in keyword.books %}
            <li>{{ book.editor }} - {{ book.title }} - {{ book.isbn }}</li>
        {% endfor %}
    </ul>
{% endblock %}