{% extends 'base.html.twig' %}

{% block content %}
    <h2>Book : {{ book.title }}</h2>
    <ul>
        {% for keyword in book.keywords %}
            <li>{{ keyword.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}