{% extends 'base.html.twig' %}

{% block content %}
    <h2>Book : {{ book.title }}</h2>
    <ul>
        {% for keyword in book.keywords %}
            <li><a href="/bookloud/{{ keyword.id }}" class="links">{{ keyword.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}