{% extends 'base.html.twig' %}

{% block content %}
    <div class="block-home-booklouds">
        <h2 class="h2-home-titles">Regions</h2>
        <h2 class="h2-home-newBook"><a href="/add-region" class="links">->&nbsp;New&nbsp;Region&nbsp;<-</a></h2>
        <div class="grid-booklouds">
            {% for region in regions %}
                <p class="text-center"><a href="/region/{{ region.id }}" class="links">{{ region.geographicalArea }}</a></p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
