<nav class="navbar navbar-default navbar-expand-md bg-dark navbar-dark fixed-top">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="active nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/epochs">Epochs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/regions">Regions</a>
            </li>
            <li class="nav-item">
                <a href="/books" class="nav-link">Books</a>
            </li>
        </ul>
        <form action="search" method="get" class="form-inline">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="I'm looking for...">
                <button type="submit" class="btn btn-secondary btm-sm"><span class="fa fa-search"></span>Search</button>
            </div>
        </form>
    </div>
</nav>